<!--The content below is only a placeholder and can be replaced.-->
<form [formGroup]="signUpForm" (ngSubmit)="onSubmit(signUpForm)">
  
  <label>
    User Name:
    <input type="text" formControlName="name">
  </label>
<br>
 
  <label>
    Email Address:
    <input type="text" formControlName="email">
  </label>
  <br>
  <label>
    Password:
    <input type="password" formControlName="password">
  </label>
 
  <br>
<input type="Submit" value="Sign Up"/>
</form>

Login Below:

<form [formGroup]="signInForm" (ngSubmit)="onSubmitForSignIn(signInForm)">
  
  <label>
    Email Address:
    <input type="text" formControlName="email">
  </label>
  <br>
  <label>
    Password:
    <input type="password" formControlName="password">
  </label>
 
  <br>
<input type="Submit" value="Sign In"/>
</form>

<input type="Submit" value="logOut" (click)="logOut()"/>

<input type="Submit" value="Test the Token" (click)="testToken()"/>
<ul>
  <li>
    <h2><a  (click)="socialLogin('google')" >Google</a></h2>
  </li>
  <li>
    <h2><a  (click)="socialLogin('facebook')">Facebook</a></h2>
  </li>
  
</ul>


